<div class="page-header">
  <h1>Powertour - Choose your tour guide!</h1>
</div>

<!-- <ul class="list-unstyled list-inline">
    <li><a href="<%= newItemsPath() %>" class="btn btn-primary">Create New Item</a></li>
  </ul> -->

<!-- <div class="container-fluid">
    <img class="mb-4" src="http://via.placeholder.com/800x80" width="100%" height="80">
  </div> -->

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top mx-auto center-block" src="/assets/images/scientist-pictures-43.jpg" style="margin-top:10px; width:200px; height:auto;"
        alt="Mad but gruntled scientist">
      <div class="card-body">
        Mad but gruntled scientist
      </div>
      <div class="card-footer">
        <a href="http://t.sidekickopen05.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs8q5y94W1p1wdb1p1gwHW7fckrM56dxm5f18tMg-02?t=https%3A%2F%2Fapp.hubspot.com%2Fmeetings%2Fben1430&si=undefined&pi=367f3317-8f0a-4213-bd03-28947f287570">Schedule a meeting</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mx-auto" src="/assets/images/d0dce14f51e5ec88c470abf687e9b214--robot-illustration-vintage-robots.jpg"
        style="height:200px; width:auto;" alt="Tobor the robot">
      <div class="card-body">
        Tobor the robot
      </div>
      <div class="card-footer">
          <a href="http://t.sidekickopen05.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs1p1xBHVRJkHF4WYKVHW64JdXC56dwV_dTdRfl02?t=https%3A%2F%2Fapp.hubspot.com%2Fmeetings%2Fmax2&si=5405685191278592&pi=55b75853-f8b5-467d-ea4f-2ff6e31781e0">Schedule a meeting</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mx-auto" src="/assets/images/8iE6rAXaT.jpg" style="margin-top:10px; width:200px; height:auto;" alt="Smooth sailing with Cap'n Tom">
      <div class="card-body">
          Smooth sailing with Cap'n Tom
      </div>
      <div class="card-footer">
          <a href="http://t.sidekickopen04.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XX45w05mjW2BFXQ08p_23-W1qMCsg56dCgtf1126gn02?t=https%3A%2F%2Fapp.hubspot.com%2Fmeetings%2Ftkunhardt15&si=4917923587817472&pi=1a5eaf9e-2c2b-4a66-dc44-16216b6212ef">Schedule a meeting</a>
      </div>
    </div>
  </div>
</div>